%cursor_pointer{
	cursor: pointer;
}

%hover_scale {
	&:hover{
		@extend %cursor_pointer;
		transform: scale(1.2,1.2);
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #edeef0;
	color: #333;
}

.player {
	width: 600px;
	margin: 20px auto 0 auto;
}

.controls, .add_track{
	height: 48px;
	margin-bottom: 15px;
	background-color: #fff;
	box-shadow: 0 1px 2px #ccc;
	padding: 0 15px;
	display: flex;
}

.play_pause {
	position: relative;
	width: 50px;
	height: 100%;
	opacity: 0.9;
	@extend %hover_scale;
}

.play_pause_icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 25px;
	background-repeat: no-repeat;
}

.play_pause-play {
	background-image: url("/src/assets/images/001-play-button.svg");
}

.play_pause-pause {
	background-image: url("/src/assets/images/003-pause.svg");
}

.navigation {
	width: 70px;
	height: 100%;
	display: flex;
}

.navigation_prev {
	position: relative;
	height: 100%;
	width: 50%;
	opacity: 0.9;
	@extend %hover_scale;
}

.navigation_prev_icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-image: url("/src/assets/images/004-rewind.svg");
}

.navigation_next {
	position: relative;
	height: 100%;
	width: 50%;
	opacity: 0.9;
	@extend %hover_scale;
}

.navigation_next_icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-image: url("/src/assets/images/002-fast-forward.svg");
}

.progress_bar {
	width: 450px;
	height: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}

.progress_bar_title {
	height: 26px;
	width: 100%;
	padding: 2px 0;
	font-size: 15px;
	line-height: 40px;
	word-wrap: break-word;
	overflow: hidden;
}

.progress_bar_stripe {
	height: 15px;
	width: 100%;
	padding: 5px 0;
	box-sizing: border-box;
	@extend %cursor_pointer;
}


.progress_bar_container {
	height: 100%;
	background-color: #b8c7d7;
}

.progress_bar_container_percentage {
	height: 100%;
	width: 0;
	background-color: #577ca1; 
}

.add_track{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.add_track_url{
	height: 24px;
	width: 70%;
	padding: 2px 15px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.add_track_btn{
	position: relative;
	width: 50px;
	height: 100%;
	@extend %hover_scale;
}

.add_track_btn_icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url("/src/assets/images/add.svg");
}

.clear_playlist_btn {
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	@extend %hover_scale;
}

.playlist {
	background-color: #fff;
	box-shadow: 0 1px 2px #ccc;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fileEntity {
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fileEntity_title {
	max-width: 400px;
	word-wrap: break-word;
}

.fileEntity:hover {
	cursor: pointer;
	background-color: #b8c7d7;
}

.fileEntity-active {
	background-color: #b8c7d7;
	transition: 0.3s all ease;
}